html,
#canvas {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #111;
}

#canvas {
    position: fixed;
    z-index: -100;
}


/* NAVIGATION BAR */

header {
    overflow: hidden;
    background-color: #222;
    margin-bottom: 90px;
    position: fixed;
    top: 0px;
    width: 100%;
}

.main-nav {
    height: 90px;
}

.logo {
    color: white;
    line-height: 90px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 30px;
    font-family: "AstroSpace", sans-serif;
}

a.logo {
    color: white;
}

.navlinks {
    font-weight: semi-bold;
    list-style: none;
    float: right;
    line-height: 90px;
    margin: 0;
    margin-right: 20px;
    padding: 0;
}

.navlinks li {
    display: inline-block;
    margin: 0px 20px;
}

.navlinks li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s linear 0s;
}

.navlinks li a:hover {
    padding-bottom: 7px;
    border-bottom: 2px solid #ffffff;
}

#check {
    display: none;
}

.menu-btn {
    font-size: 25px;
    color: white;
    float: right;
    line-height: 90px;
    margin-right: 40px;
    display: none;
    cursor: pointer;
}

@media (max-width: 800px) {
    .navlinks {
        position: fixed;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: all 0.5s;
        right: -100%;
        background: rgb(25, 25, 25);
    }
    .navlinks li {
        display: block;
    }
    .navlinks li a {
        font-size: 20px;
    }
    .navlinks li a:hover {
        border-bottom: none;
    }
    .menu-btn {
        display: block;
    }
    #check:checked~.navlinks {
        right: 0;
    }
}

@media (max-width: 360px) {
    .logo {
        margin-left: 10px;
        font-size: 25px;
    }
    .menu-btn {
        margin-right: 10px;
        font-size: 25px;
    }
}

.blink {
    font-weight: strong;
    animation: 1s blink step-end infinite;
    -webkit-animation: 1s blink step-end infinite;
}

@keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: #27ae60;
    }
}


/* END NAVIGATION BAR */


/* CONTENT */

main {
    margin-top: 120px;
}

#container {
    max-width: 700pt;
    margin: 50px;
    z-index: 0;
}

h1 {
    color: white;
    font-family: Helvetica Neue;
    font-size: 300%;
}

h2 {
    color: white;
    font-family: Helvetica Neue;
    font-size: 150%;
}

p {
    color: white;
    line-height: 1.6;
    font-family: Helvetica Neue;
}

main ul {
    list-style: none;
}

main ul li {
    min-width: 450px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    display: inline-block;
    margin: 10px;
    padding: 15px;
    padding-top: 5px;
}

main a {
    text-decoration: none;
}

main a:link {
    color: white;
}

main a:visited {
    color: grey;
}

main a:hover {
    color: #27ae60;
}

main a:active {
    color: #27ae60;
}

main a.buymeacoffee {
    color: white;
}

main a.buymeacoffee:hover {
    color: #27ae60;
}


/* END CONTENT */


/* FOOTER */

footer {
    align-content: center;
    text-align: center;
    padding: 2px;
}

footer p,
footer a:link {
    color: grey;
}


/* END FOOTER */


/* POLYRING */

webring-banner {
    display: flex;
    justify-content: center;
    --background-color: #111;
    --outer-border-color: white;
    --inner-border-color: white;
    --href-color: #27ae60;
    --href-color-active: #27ae60;
    --text-color: white;
}


/* END POLYRING */


/* HOME */

.home {
    width: 100%;
    color: white;
    text-align: center;
}

.home img {
    width: 40%;
    height: 40%;
}


/* END HOME */


/* BLOG */

.blog-entry {
    border: 2px solid white;
    border-radius: 10px;
    margin: 20px;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 15px;
    color: white;
    text-align: left;
}

.blog-entry h2 {
    color: #27ae60;
    line-height: 50%;
}

.blog-entry h3 {
    color: white;
}

.blogpost {
    color: white;
}

table,
th,
td {
    border: 1px solid white;
}


/* END BLOG */

.social-icon {
    padding: 15px;
    color: white;
    font-size: 35px;
}

.social-icon:visited {
    color: white;
}

.social-icon:hover {
    color: #27ae60;
}


/* ABOUT */